/* Master Styles */

:root {
  --color1: #aa3036; 
  --color2: #07415b;
  --color3: #ed9c32;
  --color4: #fff1e3;
  --color5: #0a212b;
  --color6: #000000;
  --color7: #ffffff;
}

  {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0px;
  font-family: "soleil", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: var(--color4);
  color: var(--color6);
  padding-bottom: 200px;
}

img {
  max-width: 100%;
  display: block;
}

video {
  padding-top: 30px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

h1 {
  font-size: 30px;
  color: var(--color1);
  text-align: center;
}

h1 a {
  color: var(--color1);
  text-decoration: none;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color2);
  color: var(--color2);
}

h3 {
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  color: var(--color1);
}

p {
  font-size: 16px;
}

p a {
    color: var(--color6);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    font-weight: bold;
  }

p a:hover {
    border-bottom: 1px solid var(--color6);
  }

ul {
  font-size: 16px;
  margin-top: -3px;
}

/* Name Styles */

.name-wrapper img {
  height: 90px;
}

.my-title {
  font-size: 16px;
  font-weight: 100;
  font-style: italic;
  padding-left: 30px;
}

/* Nav Styles */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.right-side {
  display: flex;
}

.nav-wrapper>.right-side>div {
  margin-top: 20px;
  margin-right: 20px;
  font-size: 0.8em;
  text-transform: uppercase;
}

.nav-wrapper>.left-side img {
  max-height: 70px;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: var(--color2);
  text-decoration: none;
  transition: 0.5s;
}


.nav-link-wrapper:hover {
  border-bottom: 1px solid var(--color2);
}

.nav-link-wrapper a:hover {
  color: var(--color2);
}

.active-nav-link {
  border-bottom: 1px solid var(--color2);
}

.active-nav-link a {
  color: var(--color2) !important;
}

/* Portfolio Styles */

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px;
}


.portfolio-item-wrapper {
  position: relative;
  padding: 5px;
  transition: 1s;
}

.portfolio-img-background {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 100%;
  transition: 0.75s;
}

.tt-portfolio-img-background {
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 100%;
  transition: 0.75s;
}

.img-text-wrapper {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;

}

.img-text-wrapper:hover img {
  opacity: 100%;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  font-weight: 600;
  font-size: 24px;
  color: transparent;
  background-color: transparent;

}

.img-text-wrapper:hover .subtitle {
  color: var(--color1);
}

.img-text-wrapper .subsubtitle {
  transition: 1s;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: transparent;
  white-space: nowrap;
}

.img-text-wrapper:hover .subsubtitle {
  color: var(--color6);
}

.img-darken {
  opacity: 10%;
}

/* Index Form */

.myForm {
  background-color: var(--color4);
  padding: 20px 0px 40px 50px;
  margin: 100px auto 100px auto;
  width: 350px;
  
}

.myForm .formInputs {
  margin-bottom: 20px;
}


.myForm input[type='text'], 
.myForm input[type='email'] {
  border: 1px solid var(--color2);
  width: 250px;
  font-family: "soleil", sans-serif;  
  font-size: 14px;
} 

.myForm textarea {
  border: 1px solid var(--color2);
  width: 250px;
  height: 125px;
  resize: vertical;
  font-family: "soleil", sans-serif;  
  font-size: 14px;
}

.myForm input[type='submit'] {
  align-self: center;
  font-family: 'soleil';
  font-size: 16px;
  width: 90px;
  height: 36px;
  color: var(--color4);
  background-color: var(--color1);
  border: none;
  cursor: pointer;
  margin-left: 80px;
  
}

.two-column-index-bg {
  background-color: var(--color3);
}

.two-column-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-left: 25%;
  padding-right: 25%;
  background-color: var(--color3);
  justify-content: center;
  margin-top: 100px;

}

/* About page */

.pbold {
  font-family: "bely-display", sans-serif;
  font-size: 30px;
  color: var(--color2);
  padding-bottom: 10px;
}

.two-column-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding-right: 16%;
  padding-left: 16%;
  background-color: var(--color3);
}

.profile-image-wrapper img {
  width: 75%;
  min-width: 300px;
  padding: 0px;
  padding-top: 10px;
}

.profile-content-wrapper {
  padding: 50px;
  background-color: var(--color4);
  margin: auto;
}

/* Misc Content Styles */

.vert-flex-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1000px;
}

.sidebyside {
  display: flex;
  grid-gap: 20px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}



.misc-text-wrapper {
  padding: 0px;
}

.misc-text-wrapper a {
  color: var(--color6)000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  font-weight: bold;
}

.misc-text-wrapper a:hover {
  border-bottom: 1px solid var(--color6);
}

/* Slideshow */

* {
  box-sizing: border-box
}

.slideshow-container {
  position: relative;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 10px;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -32px;
  padding: 15px;
  color: white;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: var(--color2);
  opacity: 80%;
}

.numbertext {
  color: var(--color6)000;
  font-size: 14px;
  padding: 10px;
  position: absolute;
  top: 0%;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--color6)000;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: .7
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .7
  }

  to {
    opacity: 1
  }
}

/* Lightbox Slideshow */

.cursor {
  cursor: pointer;
}

.demo-align {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

.demo-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  background-color: transparent;
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.slidesflex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr;
  padding: 0px;
  margin-top: 0px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.wwslidesflex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 0px;
  margin-top: 0px;
  grid-row-gap: 30px;
  
} 

.wwslidesflexbeside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  
}

.slideflex {
  position: relative;
  transition: 1s;
  padding: 25px;
  margin: auto;
}

.squareslideflex {
  position: relative;
  transition: 1s;
  padding: 25px;
  margin: auto;
  overflow: hidden;
  object-fit: contain;
  height: 400px;
  width: 400px;
}

.squareslideflex img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mySlidess {
  display: none;
}

.mySlidess img {
  max-height: 90vh;
  max-width: 80vw;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: none;
  width: max-content;
  height: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  right: 30px;
  font-size: 50px;
}

/*
 .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  } */

/* Caption text */
.caption-container {
  text-align: center;
  color: white;
  background-color: none;
}

/*
img.hover-shadow {
  transition: 1s;
} */

.hover-shadow:hover {
  /* opacity: 20%; */
  cursor: pointer;
} 

.infoflex {
  position: relative;
  transition: 1s;
  padding: 25px;
}

/* To Top Button Styles */

#Topbutton {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 25px;
  background-color: transparent;

}

/* Time Tonic Styles */

#TTbuttonRight {
  cursor: pointer;
  position: fixed;
  top: 50%;
  right: 1%;
  width: auto;
  margin-top: -32px;
  color: var(--color2);
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: "soleil", sans-serif;
  font-weight: 600;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

#TTbuttonRight:hover {
  border-bottom: 1px solid var(--color2);
}

#TTbuttonLeft {
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 1%;
  width: auto;
  margin-top: -32px;
  color: var(--color2);
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: "soleil", sans-serif;
  font-weight: 600;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

#TTbuttonLeft:hover {
  border-bottom: 1px solid var(--color2);
}

/* Small Desktops */
@media(max-width:1440px) {
  .portfolio-img-background {
    height: 250px;
    width: 100%;
  }
}

/* Time Tonic Buttons */
@media(max-width:1200px) {

  #TTbuttonRight {
    margin-top: 0px;
    top: 0%;
    right: 0%;
    padding: 2px 10px 5px 10px;
    font-size: 16px;
    transition: none;
  }

  #TTbuttonRight:hover {
    border-bottom: none;
  }
  
  #TTbuttonLeft {
    margin-top: 0px;
    top: 0%;
    left: 0%;
    padding: 2px 10px 5px 10px;
    font-size: 16px;
    transition: none;
  }

  #TTbuttonLeft:hover {
    border-bottom: none;
  }

.TTbuttonBackground {
  top: 0%;
  width: 100%;
  height: 30px;
  background-color: var(--color7);
  position: fixed;
}
}



  /* Tablet */
  @media(max-width :768px) {
    /* Index */
    .nav-wrapper {
      flex-direction: column;
      align-items: center;
    }

    .portfolio-items-wrapper {
      grid-template-columns: 1fr;
      grid-gap: 90px;
      margin-top: 75px;
    }

    .portfolio-img-background {
      height: 350px;
      width: 100%;
    }

    #Topbutton {
      right: 50px;
      bottom: 50px;
    }

    .img-text-wrapper {
      justify-content: start;
      margin-top: -60px;
      font-size: 5px;
    }

    .img-text-wrapper .subtitle {
      color: var(--color1)
    }

    .img-text-wrapper .subsubtitle {
      color: var(--color6)
    }
    
    /* Index Form */
    .two-column-index {
      grid-template-columns: 1fr;
      grid-gap: 0px;
      padding: 40px;
    }

    .myForm {
      background-color: var(--color4);
      padding: 20px 0px 40px 50px;
      margin: auto;
      width: 350px;
    }

    /* About */
    .two-column-wrapper {
      grid-template-columns: 1fr;
      padding-right: 5%;
      padding-left: 5%;
      padding-top: 5%;
      margin-bottom: 30%;
      background-color: var(--color3);
    }

    .pbold {
      text-align: center;
    }

    .profile-image-wrapper img {
      max-height: 500px;
      width: auto;
      margin: auto;
    }

    .profile-content-wrapper {
      justify-content: center;
      margin-top: 0px;
      margin-bottom: 100px;
      padding-top: 30px;
    }

    /* Lightbox */
    .slidesflex {
      grid-template-columns: 1fr 1fr;
    }

  }


  /* Mobile */
  @media(max-width:500px) {

    /* Index */
    .portfolio-img-background {
      height: 230px;
      width: 100%;
    }

    .img-text-wrapper {
      margin-top: -50px;
    }

    .img-text-wrapper .subtitle {
      font-size: 18px;
    }

    .img-text-wrapper .subsubtitle {
      font-size: 11px;
    }

    .profile-content-wrapper {
      font-size: 14px;
    }

    /* Lightbox */
    .slidesflex {
      grid-template-columns: 1fr;
    }

    .img-darken {
      opacity: 100%;
    }
  }