/* Master Styles */

body {
    margin: 0px;
    font-family: "soleil", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

h1 {
    font-size: 24px;
    color: #000000;
}

h2 {
    font-size: 24px;
    color: #000000;
    padding-top: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
}

h3 {
    font-weight: bold; 
    font-size: 20px; 
    padding-top: 30px;
    color: #000000;
}

p {
    font-size: 16px;
    color: #000000;
}

ul {
    font-size: 16px;
    color: #000000;
    margin-top: -3px;
}

/* Name Styles */

.name-wrapper {
    font-size: 30px;
}

.my-title {
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
    padding-left: 30px;
}

/* Nav Styles */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 0.8em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #000000;
    text-decoration: none;
    transition: color 0.5s;
}


.nav-link-wrapper:hover {
    border-bottom: 1px solid #000000;
}

.nav-link-wrapper a:hover {
    color: #000000;
}

.active-nav-link {
    border-bottom: 1px solid #000000;
}

.active-nav-link a {
    color: #000000 !important;
}

/* Portfolio Styles */

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    padding-top: 0px;
}

.portfolio-item-wrapper {
    position: relative;
    padding: 5px;
    transition: 1s;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 100%;
    transition: 0.75s;
}

.img-text-wrapper {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    
}

.img-text-wrapper:hover .logo-wrapper img {
    opacity: 100%;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 500;
    font-size: 25px;
    color: transparent;
    
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: #000000;
}

.img-text-wrapper .subsubtitle {
    transition: 1s;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: transparent;
    white-space: nowrap;
}

.img-text-wrapper:hover .subsubtitle {
    color: #000000;
}

.img-darken {
    opacity: 20%;
}

/* About page */

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px; 
    padding-right: 8%;
    padding-left: 8%;
}

.profile-image-wrapper img {
    width: 100%;
    padding: 30px;
    padding-top: 50px;
}

.profile-content-wrapper {
    padding: 50px;
}

/* Misc Content Styles */

.vert-flex-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
}

.misc-text-wrapper {
    padding: 0px;
}

.misc-text-wrapper a {
    color:#000000;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    font-weight: bold;
}

.misc-text-wrapper a:hover {
    border-bottom: 1px solid #000000;
}

/* Addiction Slideshow */

* {box-sizing:border-box}

.slideshow-container {
  position: relative;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 10px;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -32px;
  padding: 16px;
  color: white;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.numbertext {
  color: #000000;
  font-size: 14px;
  padding: 10px;
  position: absolute;
  top: 0%;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #000000;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

/* Illustrations Slideshow */

  .cursor {
    cursor: pointer;
  }
  
  .demo-align {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      padding-bottom: 50px;
  }

  .demo-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: transparent;
    padding-left: 2.5px;
    padding-right: 2.5px;
    }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

.slidesflex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    padding: 0px;
    margin-top: 0px;
}

.slideflex {
    position: relative;
    transition: 1s;
    padding: 25px;
}
  
  .mySlidess {
    display: none;
  }

  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0 , 0, 0.8);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: none;
    margin: auto;
    padding: 0;
    width:max-content;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
  }
  
  /* .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  } */
  
  /* Caption text */
  .caption-container {
    text-align: center;
    color: white;
    background-color: none;
  }
  
  img.hover-shadow {
    transition: 1s;
  }
  
  .hover-shadow:hover {
    opacity: 20%;
    cursor: pointer;
  } 

  .infosflex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 0px;
    align-items: center;
}

.infoflex {
    position: relative;
    transition: 1s;
    padding: 25px;
}

